<style type="text/css">
  #certs .links-of-cert-item img {
    display: inline;
    object-fit: none;
  }

  #certs span.subject {
    display: block;
  }

  #certs .links-of-cert-item a {
    border-bottom: 0
  }

  #certs .side-image-cert-pmp {
    height: 85px;
    width: 85px;
    object-position: 0 0
  }

  #certs .side-image-cert-acp {
    height: 85px;
    width: 85px;
    object-position: -87px 0
  }

  #certs .side-image-cert-csm {
    height: 85px;
    width: 85px;
    object-position: -172px 0
  }

  #certs .side-image-cert-cspo {
    height: 85px;
    width: 85px;
    object-position: -257px 0
  }

  #certs .side-image-cert-csd {
    height: 85px;
    width: 85px;
    object-position: -342px 0
  }

  #certs .side-image-cert-mcsd-app-2017 {
    height: 135px;
    width: 135px;
    object-position: 0 -86px
  }

  #certs .side-image-cert-mcsa-web {
    height: 135px;
    width: 135px;
    object-position: -135px -86px
  }

  #certs .side-image-microsoft-mvp {
    height: 113px;
    width: 280px;
    object-position: 0 -222px
  }

  #certs .links-of-cert-item.sprites {
    display: flex;
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Centers items vertically */
  }

  #certs .sprite {
    background: url("/medias/cert_2.png") no-repeat top left;
    width: 120px;
    height: 120px;
  }

  #certs .sprite.cka {
    background-position: 0 0;
  }

  #certs .sprite.ckad {
    background-position: 0 -130px;
  }
</style>

<div id="certs" class="post-certs container">
  <div class="row">
    <div class="title center-align" data-aos="zoom-in-up">
      <i class="far fa-bar-chart"></i>&nbsp;&nbsp;<%- __("certs") %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col s12 m6 l6 xl6" data-aos="zoom-in-up">
      <div class="center-align">
        <span class="subject">IT 鐵人賽 - DevOps 組冠軍</span>
        <a href="https://ithelp.ithome.com.tw/users/20083507/ironman/1366" target="_blank" title="csd"
          rel="external nofollow"><img alt="it iron devops" src="/medias/itiron_devops.png"></a></span></div>
    </div>
    <div class="col s12 m6 l6 xl6" data-aos="zoom-in-up">
      <div class="center-align">
        <span class="subject">Microsoft MVP 2017-2020</span>
        <span class="links-of-cert-item">
          <a href="https://mvp.microsoft.com/en-us/PublicProfile/5002726" target="_blank" title="pmp"
            rel="external nofollow">
            <img class="side-image-microsoft-mvp" src="/medias/cert.png" />
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col s12 m12 l12 xl4" data-aos="zoom-in-up">
      <div class="center-align">
        <span class="subject">Cloud Native</span>
        <span class="links-of-cert-item sprites">
          <a href="https://www.credly.com/badges/8bbf76a5-e38b-4934-8bed-1145eda54e84/" target="_blank" title="cka"
            rel="external nofollow">
            <div class="sprite cka"></div>
          </a>
          <a href="https://www.credly.com/badges/1f1a8b72-4e23-4c06-9f21-d17dd3d657b4" target="_blank" title="ckad"
            rel="external nofollow">
            <div class="sprite ckad"></div>
          </a>
        </span>
      </div>
    </div>
    <div class="col s12 m6 l6 xl4" data-aos="zoom-in-up">
      <div class="center-align">
        <span class="subject">PMI</span>
        <span class="links-of-cert-item">
          <a href="https://www.youracclaim.com/badges/0971684d-561b-4294-8161-351794f7aa6b" target="_blank" title="pmp"
            rel="external nofollow"><img class="side-image-cert-pmp" alt="pmp" src="/medias/cert.png">
          </a></span>
        <span class="links-of-cert-item"><a
            href="https://www.youracclaim.com/badges/47cf7d59-1000-4566-94de-ee1f73f5dfee" target="_blank" title="acp"
            rel="external nofollow"><img class="side-image-cert-acp" alt="acp" src="/medias/cert.png"> </a></span>
      </div>
    </div>
    <div class="col s12 m6 l6 xl4" data-aos="zoom-in-up">
      <div class="center-align">
        <span class="subject">Scrum Alliance</span>
        <span class="links-of-cert-item"><a href="https://www.scrumalliance.org/community/profile/ctsai16"
            target="_blank" title="csm" rel="external nofollow"><img class="side-image-cert-csm" alt="csm"
              src="/medias/cert.png">
          </a></span>
        <span class="links-of-cert-item"><a href="https://www.scrumalliance.org/community/profile/ctsai16"
            target="_blank" title="cspo" rel="external nofollow"><img class="side-image-cert-cspo" alt="cspo"
              src="/medias/cert.png">
          </a></span>
        <span class="links-of-cert-item"><a href="https://www.scrumalliance.org/community/profile/ctsai16"
            target="_blank" title="csd" rel="external nofollow"><img class="side-image-cert-csd" alt="csd"
              src="/medias/cert.png"></a></span>
      </div>
    </div>
  </div>
</div>