<%
// the projects information of theme _config.yml.
var myprojects = theme.myProjects.data;
%>
<div class="my-projects">
    <div class="title center-align" data-aos="zoom-in-up">
        <i class="fas fa-gift"></i>&nbsp;&nbsp;<%- __('myProjects') %>
    </div>
    <div class="row">
        <% if (myprojects) { %>
        <% Object.keys(myprojects).forEach(function(project) { %>
        <div class="col s12 m6 l4 xl3" data-aos="fade-up">
            <div class="info center-align">
                <a href="<%- myprojects[project].url %>" class="icon"
                   style="background: <%- myprojects[project].iconBackground %>" target="_blank">
                    <i class="<%- myprojects[project].icon %>"></i>
                </a>
                <div class="info-title">
                    <a href="<%- url_for(myprojects[project].url) %>" target="_blank"><%- project %></a>
                </div>
                <div class="info-desc"><%= myprojects[project].desc %></div>
            </div>
        </div>
        <% }); %>
        <% } %>
    </div>
</div>
